.root {
  border: 1px solid var(--divider);
  background-color: var(--background-alt-2);
  padding: 0.5rem;
  height: 4rem;
  border-radius: 8px;
  transition: background-color 100ms, border-color 100ms, color 100ms;

  pre {
    margin: 0;
  }

  .set {
    height: 100%;
    align-items: center;
    &Input {
      display: flex;
      align-items: baseline;
      justify-content: center;
      &Wrapper {
        flex: 1;
        input {
          background-color: transparent;
          border: none;
          outline: none;
          color: inherit;
          font-family: inherit;
          font-size: 1.3rem;
          text-align: right;
          width: 100%;
          -moz-appearance: textfield;
          padding: 0 0.1rem 0 0;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &::placeholder {
            color: rgba(128, 128, 128, 0.9);
          }
        }
      }
      &Suffix {
        flex-shrink: 0;
      }
    }
    &Type {
      &Weighted {
        display: grid;
        grid-template-columns: auto auto 4rem;
        gap: 0.5rem;
      }
      &RepBased {
        display: grid;
        grid-template-columns: auto 4rem;
        gap: 0.5rem;
      }
      &Timed {
        display: grid;
        grid-template-columns: auto 3rem 3rem 3rem;
        gap: 0.5rem;
      }
    }
    &Button {
      transition: color 100ms transform 50ms;
      font-size: 1.3rem;
      color: transparent;
      align-self: stretch;

      &:active {
        transform: scale(0.8);
      }
    }
  }

  &.completed {
    background-color: rgba(var(--green), 0.2);
    border-color: rgb(var(--green));
    .set {
      &Button {
        &Completed {
          color: rgb(var(--green));
        }
        &StartStop {
          color: transparent;
        }
      }
    }
  }

  &.selected {
    &.highlighted {
      background-color: rgba(var(--coral), 0.2);
      border-color: rgb(var(--coral));

      .set {
        &Button {
          color: var(--color);
        }
      }
    }
  }
}

.timer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  .time {
    font-size: 1.3rem;
  }
}
