.wrapper {
    display: grid;
    grid-template-rows: max-content auto;
    height: 100%;
}

.root {
    padding: 0 0.75rem 0.75rem;
    display: grid;
    grid-template-rows: auto max-content;
}

.editPlanButton {
    justify-self: end;
}
