.wrapper {
    height: var(--between-bars);
    display: grid;
    grid-template-rows: max-content auto;
}

.root {
    padding: 0 0.75rem 0.75rem;
    display: grid;
    grid-template-rows: auto;
    justify-content: end;
    align-items: end;
}
