.wrapper {
    height: var(--between-bars);
    display: grid;
    grid-template-rows: max-content max-content auto;
}

.root {
    padding: 0 0.5rem 0.75rem;
    display: grid;
    grid-template-rows: auto max-content;
    gap: 0.75rem;
    min-height: 0;
}

.list {
    display: grid;
    grid-auto-rows: max-content;
    gap: 0.5rem;
    overflow-y: auto;
    border-radius: 8px;
}

.buttonBar {
    justify-self: end;
}

.day {
    border-radius: 8px;
    background-color: var(--background-alt);
    summary {
        outline: none;
        font-weight: bold;
        cursor: pointer;
        padding: 0.75rem;
        list-style: none;
        &::-webkit-details-marker {
            display: none;
        }
    }
}

.exercise {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 0.75rem;

    &Name {
    }
}
