.root {
    details {
        > summary {
            &::-webkit-details-marker {
                display: none;
            }
            list-style: none;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            display: grid;
            grid-template-columns: auto min-content;
            padding: 2px;
            outline: none;
        }
        &[open] {
            > summary {
                display: none;
            }
        }
        form {
            display: grid;
            grid-template-columns: auto min-content min-content;
            position: relative;

            input {
                border: none;
                border-bottom: 2px solid var(--coral);
                outline: none;
                font-size: inherit;
                letter-spacing: inherit;
                font-family: inherit;
                border-radius: 0;
                background-color: transparent;
                padding: 0 0 0.2rem;
                caret-color: var(--coral);
            }

            section {
                position: absolute;
                right: 0;
                top: calc(100% + 0.4rem);
                width: 84px;
                height: 42px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 0.2rem;

                button {
                    border-radius: 10px;

                    &[type='submit'] {
                        background-color: var(--coral);
                        color: white;
                    }
                }
            }
        }
    }
}
