.root {
    details {
        > summary {
            list-style: none;
            cursor: pointer;
            border-bottom: 2px solid transparent;
            transition: border-bottom-color 100ms;
            display: grid;
            grid-template-columns: auto min-content;
            padding-bottom: 0.2rem;
            &:hover,
            &:focus {
                border-bottom-color: var(--coral);
            }
        }
        &[open] {
            > summary {
                display: none;
            }
        }
        form {
            display: grid;
            grid-template-columns: auto min-content min-content;

            button {
            }
        }
    }
}
