.pane {
    :global {
        .pane {
            color: var(--color);
            background-color: var(--background);
            border-radius: 8px;
            width: calc(100% - 1rem);
            padding-top: 0;
            padding-bottom: 1px;
        }
    }
}
.sheet {
    &Header {
        display: grid;
        grid-template-columns: auto max-content;
        align-items: center;
        font-size: 1.3rem;
        height: 3rem;

        &Title {
            padding-left: 1rem;
        }

        &Dismiss {
            align-self: stretch;
            width: 3rem;
            justify-self: end;
        }
    }
}
