.root {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0);

    .sheet {
        &Header {
            display: grid;
            grid-template-columns: auto max-content;
            align-items: center;
            margin-bottom: 1rem;
            font-size: 1.3rem;

            &Dismiss {
                height: 2rem;
                width: 2rem;
            }
        }
        &Root {
            max-height: calc(100vh - 2rem);
            display: flex;
            flex-direction: column;
            background-color: var(--background);
            position: absolute;
            bottom: 2rem;
            left: 1rem;
            right: 1rem;
            border-radius: 8px;
            padding: 1rem;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(calc(100% + 2rem));
        }

        &Body {
            overflow-y: auto;
        }
    }
    &Enter,
    &EnterDone {
        background-color: rgba(0, 0, 0, 0.5);
        .sheet {
            &Root {
                transform: translateY(0);
            }
        }
    }
}
