.root {
    padding: 1rem;
    label {
        font-size: 0.9rem;
        color: var(--scrub);
        margin-bottom: 0.2rem;
        display: block;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
}
