@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/solid.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: initial;
    line-height: initial;
    color: var(--color);
    background-color: var(--background);

    --coral: #e14658;
    --navy: #22252c;
    --mountain: #3f3250;
    --scrub: #c0b3a0;

    --color: black;
    --background: white;
    --background-alt: #f5f5f5;
    --divider: #e0e0e0;
    --color-inverse: white;
    --background-inverse: var(--navy);

    --max-width: 540px;
    --top-bar-height: 3rem;
    --bottom-bar-height: 5.5rem;
    --between-bars: calc(
        100vh - calc(var(--top-bar-height) + var(--bottom-bar-height))
    );
    @media (prefers-color-scheme: dark) {
        --color: white;
        --background: var(--navy);
        --background-alt: #2a2d35;
        --divider: #34373f;
        --color-inverse: black;
        --background-inverse: white;
    }
}

*::-webkit-scrollbar {
    display: none; // Safari and Chrome
    -webkit-appearance: none;
    width: 0;
    height: 0;
}

* {
    box-sizing: border-box;
}

*:not(input) {
    user-select: none;
}

a,
button,
input[type='submit'],
input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    -webkit-touch-callout: none;
    transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.75rem 1rem;
}

h2 {
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    padding: 0 1rem 0.75rem;
}

summary {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

@import './scss/button.scss';

.standard-form-input {
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.2);
    outline: none;
    font-size: 1.2rem;
    letter-spacing: inherit;
    font-family: inherit;
    border-radius: 0;
    background-color: transparent;
    padding: 0 0 0.2rem;
    caret-color: var(--coral);

    &:focus {
        border-bottom-color: var(--coral);
    }
}
