.bar {
  height: 0.5rem;
  background: var(--background);
  border-radius: 2px;
  position: relative;
}

.fill {
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgb(var(--coral));
}
