.root {
  position: relative;
  summary {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    list-style: none;
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 0.5rem;
    &::-webkit-details-marker {
      display: none;
    }
  }

  &.left .body {
    left: 0;
  }

  &.middle .body {
    left: -25%;
  }

  &.right .body {
    right: 0;
  }
}

.body {
  position: absolute;
  display: grid;
  gap: 0.5rem;
  background: var(--background);
  padding: 0.75rem;
  grid-template-columns: auto auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  z-index: 1;
}

.clear {
  border-radius: 8px;
  padding: 0.1rem 0.4rem;
  font-size: 0.8rem;
  border: 2px solid;
  color: var(--color);
  margin: -2px;
}
